# scGen for multi-omic integration

In [1]:
import scgen
import anndata
import numpy as np
import scanpy as sc
import pandas as pd
import tensorflow as tf

Using TensorFlow backend.
/home/jovyan/my-conda-envs/emma_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jovyan/my-conda-envs/emma_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jovyan/my-conda-envs/emma_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jovyan/my-conda-envs/emma_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jovyan/my-conda-envs/emma_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jovyan/my-conda-envs/emma_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Using PBMC data used in LIGER tutorial (downloaded from [here](https://umich.app.box.com/s/5hkhpou4inrulo570yhc38ay8g3ont5b))

In [149]:
train = sc.read_10x_h5('/home/jovyan/10X_data/intPBMC_10x.hdf5')
atac_clust = pd.read_csv('/home/jovyan/10X_data/atac_cluster_assignments.csv', )
rna_clust = pd.read_csv('/home/jovyan/10X_data/rna_cluster_assignments.csv')
        
rna_clust.columns = ['cell_id', 'cell_type']
atac_clust.columns = ['cell_id', 'cell_type']

Add cluster and batch information to `train.obs`

In [159]:
train.obs.index.name = 'cell_id'
# train.obs.reset_index(inplace=True)
# # train.obs=pd.merge(train.obs, rna_clust, how="left", sort=False).set_index('cell_id')

In [160]:
train_clust = pd.concat([rna_clust, atac_clust])
train_clust = train_clust.assign(batch= [np.where(x[:8]=="pbmc.rna", "RNA", "ATAC") for x in train_clust['cell_id']])

In [181]:
pd.merge(train.obs, train_clust, how="outer", left_index=True, right_on="cell_id").reset_index()

        index                    cell_id        cell_type batch
0         0.0  pbmc.rna_AAACCCAAGCGCCCAT       CD4 Memory   RNA
1         NaN  pbmc.rna_AAACCCAAGGTTCCGC              NaN   NaN
2         1.0  pbmc.rna_AAACCCACAGAGTTGG  CD14+ Monocytes   RNA
3         2.0  pbmc.rna_AAACCCACAGGTATGG           NK dim   RNA
4         3.0  pbmc.rna_AAACCCACATAGTCAC       pre-B cell   RNA
...       ...                        ...              ...   ...
20492     NaN         TTTGTGTTCATGCTTT-1              NaN   NaN
20493  5762.0         TTTGTGTTCCGAGAGA-1         Monocyte  ATAC
20494     NaN         TTTGTGTTCGAAGCCC-1              NaN   NaN
20495  5763.0         TTTGTGTTCTACTTTG-1           T cell  ATAC
20496  5764.0         TTTGTGTTCTTGTGCC-1         Monocyte  ATAC

[20497 rows x 4 columns]

In [175]:
train.obs

Empty DataFrame
Columns: []
Index: [pbmc.rna_AAACCCAAGCGCCCAT, pbmc.rna_AAACCCAAGGTTCCGC, pbmc.rna_AAACCCACAGAGTTGG, pbmc.rna_AAACCCACAGGTATGG, pbmc.rna_AAACCCACATAGTCAC, pbmc.rna_AAACCCACATCCAATG, pbmc.rna_AAACCCAGTGGCTACC, pbmc.rna_AAACCCATCCCGAGAC, pbmc.rna_AAACCCATCTGGCCGA, pbmc.rna_AAACCCATCTGTTCAT, pbmc.rna_AAACGAAAGACGACGT, pbmc.rna_AAACGAAAGACGTCGA, pbmc.rna_AAACGAAAGGAGTCTG, pbmc.rna_AAACGAACAAGAATGT, pbmc.rna_AAACGAACAATACCCA, pbmc.rna_AAACGAACACAAGCTT, pbmc.rna_AAACGAACACGACGTC, pbmc.rna_AAACGAAGTCATGCAT, pbmc.rna_AAACGAAGTTATGTCG, pbmc.rna_AAACGAATCTACTTCA, pbmc.rna_AAACGCTAGACAACTA, pbmc.rna_AAACGCTAGAGGTTTA, pbmc.rna_AAACGCTAGCACCAGA, pbmc.rna_AAACGCTAGGCAGGTT, pbmc.rna_AAACGCTAGGTTAAAC, pbmc.rna_AAACGCTAGTATGAAC, pbmc.rna_AAACGCTCAATCCTAG, pbmc.rna_AAACGCTCACGCAAAG, pbmc.rna_AAACGCTCAGTCTTCC, pbmc.rna_AAACGCTCATAGTCAC, pbmc.rna_AAACGCTCATGGATCT, pbmc.rna_AAACGCTGTCAGACGA, pbmc.rna_AAACGCTGTCCCTAAA, pbmc.rna_AAACGCTGTCGATTTG, pbmc.rna_AAACGCTGTCTACATG, pbmc.rna_AAAGAACAGTTCCGTA, pbmc.rna_AAAGAACGTATCCTCC, pbmc.rna_AAAGAACGTATTCCGA, pbmc.rna_AAAGAACGTCTCGGGT, pbmc.rna_AAAGAACGTTTGTTGG, pbmc.rna_AAAGAACTCCTCCACA, pbmc.rna_AAAGAACTCGCGTGCA, pbmc.rna_AAAGAACTCTCATAGG, pbmc.rna_AAAGGATAGCAGTAAT, pbmc.rna_AAAGGATAGTGAATAC, pbmc.rna_AAAGGATCAAACAGGC, pbmc.rna_AAAGGATGTCGGTGAA, pbmc.rna_AAAGGATGTGTCCAAT, pbmc.rna_AAAGGATGTGTGGTCC, pbmc.rna_AAAGGATTCAAGGACG, pbmc.rna_AAAGGATTCATTGTTC, pbmc.rna_AAAGGATTCCTAACAG, pbmc.rna_AAAGGATTCGTAACAC, pbmc.rna_AAAGGATTCTGCGGGT, pbmc.rna_AAAGGATTCTTTGCAT, pbmc.rna_AAAGGGCAGGGACCAT, pbmc.rna_AAAGGGCAGTTCCGGC, pbmc.rna_AAAGGGCCACGTCGTG, pbmc.rna_AAAGGGCCAGGTTCGC, pbmc.rna_AAAGGGCCATCATCCC, pbmc.rna_AAAGGGCGTTACGTAC, pbmc.rna_AAAGGGCTCATTTGGG, pbmc.rna_AAAGGGCTCCAACTGA, pbmc.rna_AAAGGGCTCCTGGGAC, pbmc.rna_AAAGGGCTCTCAAAGC, pbmc.rna_AAAGGGCTCTTCCACG, pbmc.rna_AAAGGTAAGGGTCACA, pbmc.rna_AAAGGTACAAGAATGT, pbmc.rna_AAAGGTACAGCTACAT, pbmc.rna_AAAGGTAGTATTTCTC, pbmc.rna_AAAGGTAGTCTACACA, pbmc.rna_AAAGGTAGTGCTATTG, pbmc.rna_AAAGGTAGTTAAGGAT, pbmc.rna_AAAGGTAGTTGTCATG, pbmc.rna_AAAGGTATCATAGAGA, pbmc.rna_AAAGGTATCGCAGAGA, pbmc.rna_AAAGTCCAGACCAAGC, pbmc.rna_AAAGTCCAGCAGGCTA, pbmc.rna_AAAGTCCAGTCACACT, pbmc.rna_AAAGTCCCAAGCTGTT, pbmc.rna_AAAGTCCCAAGTGGTG, pbmc.rna_AAAGTCCGTCGAAACG, pbmc.rna_AAAGTCCGTTCCCACT, pbmc.rna_AAAGTCCGTTCGGTTA, pbmc.rna_AAAGTCCTCAACTACG, pbmc.rna_AAAGTCCTCAGCGGAA, pbmc.rna_AAAGTCCTCCAAGGGA, pbmc.rna_AAAGTCCTCTGGGTCG, pbmc.rna_AAAGTGAAGAGTGGCT, pbmc.rna_AAAGTGAAGCATGATA, pbmc.rna_AAAGTGAAGCGGGTAT, pbmc.rna_AAAGTGAAGGTACATA, pbmc.rna_AAAGTGACAGATCCTA, pbmc.rna_AAAGTGACATAGGTTC, pbmc.rna_AAAGTGACATCGAACT, pbmc.rna_AAAGTGACATGACGGA, pbmc.rna_AAAGTGACATGCAGCC, pbmc.rna_AAAGTGAGTACCGTCG, pbmc.rna_AAAGTGAGTTAAGACA, pbmc.rna_AAAGTGATCAATGTCG, ...]

[20497 rows x 0 columns]

In [168]:
len(rna_clust.cell_type) + len(atac_clust.cell_type)

15197